# Python/Django
*.py[cod]
*$py.class
__pycache__/
.venv/
venv/
ENV/
env/
db.sqlite3
media/
staticfiles/
.env

# Node/React
node_modules/
dist/
dist-ssr/
*.local
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.bak
